.calculator {
  margin-bottom: 70px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  div,
  td,
  input {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5,
  td,
  input {
    font-family: "Raleway, Helvetica, Arial", sans-serif;
  }

  table {
    width: auto;
    margin-bottom: 16px;
    border-collapse: collapse;
    border: none;

    tr {
      border: none;
    }
  }

  td {
    padding: 5px;
    line-height: 1.5;
    width: 125px;
    border: none;
    text-align: center;

    &:first-of-type {
      width: 200px;
      text-align: right;
    }

    &:last-of-type {
      width: 20px;
      text-align: left;
    }
  }

  input {
    width: 100%;
    min-width: 100px;
    height: 100%;
    padding: 10px 8px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
  }

  input[type="submit"] {
    border: none;
    line-height: 20px;
    color: #fafafa;
    background-color: #fec911;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #edb800;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  &.creditworthiness-calculator {
    h3 {
      margin: 16px 0;
    }

    td {
      &:first-of-type {
        width: 440px;
      }
    }
  }
}

@media screen and (max-width: 481px) {
  #loan-comparison-calculator-form {
    display: none;
  }

  #creditworthiness-calculator-form {
    table {
      display: block;
      width: 100%;

      tbody {
        display: block;
        width: 100%;

        tr {
          display: block;
          width: 100%;
          margin-bottom: 8px;
        }
      }
    }
    td {
      &:nth-of-type(2) {
        width: 130px;
      }
      text-align: left;
      display: inline-block;

      &.range-result-cell {
        width: 120px;
      }

      &:first-of-type {
        display: block;
        width: 100%;
      }
    }
  }
}
